desktop.ini
.vscode/desktop.ini
cron/desktop.ini
.vscode/desktop.ini
bi/desktop.ini
contagem_lojas/desktop.ini
exp/desktop.ini
mysql/triggers/desktop.ini
mysql/desktop.ini
mysql/procedures/desktop.ini
mysql/tables/desktop.ini
mysql/views/desktop.ini
prod/desktop.ini
sql/desktop.ini
sinc/desktop.ini
val/desktop.ini
sql/BI/desktop.ini
val/win/desktop.ini
